services:
  app:
    build:
        context: .
    container_name: superhero-api-proxy-app
    restart: "no"
    command: bash -c "alembic upgrade head && python -m app"
    environment:
      - app_host=0.0.0.0
      - app_port=8080
      - app_superhero_api_access_token=secret_key
      - postgres_host=postgresql
      - postgres_user=user
      - postgres_password=password
    ports:
      - 8080:8080
    depends_on:
      postgresql:
        condition: service_healthy

  postgresql:
    image: postgres
    container_name: superhero-api-proxy-db
    restart: "no"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: superheroes
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
  #   ports:
  #     - 5432:5432

  # adminer:
  #   image: adminer
  #   container_name: superhero-api-proxy-adminer
  #   restart: "no"
  #   environment:
  #     ADMINER_DEFAULT_SERVER: postgresql
  #     ADMINER_DESIGN: brade
  #   ports:
  #     - 10000:8080
